@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

*{
  font-family: "Parkinsans", sans-serif;;
}

:root{
  --blue: #0094FF;
}

html,body{
  padding: 0;
  margin:0;
  overflow: hidden;
}

body{
  width: 100vw;
  padding: 0;
  height: 100vh;

}

.clicker-image {
}

.clicker-image.clicked-clicker {
  transform: scale(0.9) rotate(10deg);
}
.clicker-image:not(.clicked-clicker){
  transition: transform 0.1s ease-in-out;
}

.clickoverfl{
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickoverfl > img{
  height: 20vh;
}

.fontVw{
  font-size: 3vh;
  text-align: center;
  z-index: 1000;
  color: var(--blue)
}

.clickSection, .shopSection, .infoModalSection{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.clickSection{
  height: 40vh;
}
